html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    background-color: #41474c;
}

header {
    background-color: #111314;
    padding: 25px 0px 10px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 10px 0px black;
}

header h1 {
    display: inline;
    margin-left: 100px;
}

header h1 img {
    width: 400px;
}

/*Nav*/

nav {
    display: inline;
    float: right;
    margin-right: 100px;
}
nav ul {
    line-height: 200%;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0px 30px 0px 30px;
    font-size: 20px;
}
nav a:hover {
    color: #999999;
}

/*Nav End*/

/*Hero*/

.hero-image {
    background-image: url("images/Clicker\ Hero.png");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}
.hero-text {
    position: relative;
    padding: 0px 30px 0px 30px;
    font-size: 30px;
    top: 45%;
    left: 37%;
    max-width: fit-content;
    transform: translate(-50%, -50%);
    color: white;
}

/*Hero End*/

.h1 {
    text-align: center;
    color: white;
    background-color: #111314;
    width: fit-content;
    margin: 50px auto 30px auto;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}

h2 {
    color: white;
    text-align: center;
    margin: 0px auto 30px auto;
}

.PAD {
    padding: 0px 50px 0px 50px;
}

.imagemobile {
    display: none;
}
.sitedesktop {
    display: block;
}
.sitemobile {
    display: none;
}

/*What I Do*/

.WhatIDo {
    max-width: 1400px;
    margin: 100px auto 100px auto;
    background-color: #111314;
    padding: 20px 0px 30px 0px;
    border-radius: 30px;
}
.WhatIDorow {
    display: flex;
    flex-direction: row;
    margin: 0px auto 10px auto;
    max-width: 1300px;
}
.WhatIDoimg {
    margin: 20px auto 10px auto;
    padding: 0px 20px 0px 20px;
    
}
.WhatIDoimg img {
    max-width: 100%;
}

/*What I Do End*/

/*Programs I know*/

.programs {
    background-color: #111314;
    max-width: 1400px;
    margin: 100px auto 100px auto;
    padding: 20px 0px 30px 0px;
    border-radius: 30px;
}

.programsrow {
    display: flex;
    flex-direction: row;
    margin: 0px auto 10px auto;
    max-width: 1300px;
    height: auto;
}

.programsrow2 {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: auto;
}

.programimg {
    margin: 20px auto 10px auto;
    padding: 0px 20px 0px 20px;
}

.programimg img {
    max-width: 100%;
}

/*Programs End*/

/*Education*/

 .education {
    background-color: #111314;
    text-align: center;
    max-width: 1400px;
    margin: 100px auto 100px auto;
    padding: 20px 0px 30px 0px;
    border-radius: 30px;
 }

 .school {
    background-color: #41474c;
    color: white;
    padding: 20px 20px 10px 20px;
    margin: 30px 30px 30px 30px;
 }
 
/*Education End*/

/*Image Gallery*/

.galleries {
    margin: 60px 0px 50px 0px;
}
.maingallery1, .maingallery2 {
    max-width: 1400px;
    padding: 20px 0px 45px 0px;
    background-color: #111314;
    border-radius: 30px;
}
.maingallery1 {
    margin: 80px auto 110px auto;
}
.maingallery2 {
    margin: 80px auto 100px auto;
}
.maingallery1 img {
    margin: 0px auto 0px auto;
    padding: 0px 30px 10px 30px;
}

.maingallery2 img {
    margin: 0px auto 0px auto;
    padding: 0px 30px 10px 30px;
}
.mySlides1, .mySlides2 {
    margin: 0px auto 0px auto;
    float: center;
    max-width: 92.5%;
}

/*Image Gallery End*/

/*About me*/

.bio {
    background-color: #111314;
    max-width: 1400px;
    height: auto;
    min-height: 610px;
    margin: 300px auto 300px auto;
    border-radius: 30px;
    
}
.bio img {
    float: right;
    margin: 0px 0px 0px 20px;
    padding: 40px 40px 0px 0px;
    max-width: 100%;
}

.bioparagraphs {
    padding: 30px 30px 0px 30px;
    max-width: 810px;
}
.bio p {
    color: white;
    padding: 0px 20px 0px 20px;
    line-height: 170%;
}

.contact {
    border-top: 2px solid #999999;
    margin: 50px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
    width: auto;
}
.contact p {
    text-align: center;
}

/*About me end*/

/*Footer*/

footer {
    background-color: #111314;
    color: #999999;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

/*Footer End*/

.checkbtn {
    width: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/*Media Queries*/

@media (max-width: 1200px) {

    .mySlides1, .mySlides2 {
        margin: 0px auto 10px auto;
    }

}

@media (max-width: 1150px) {

    .checkbtn {
        display: block;
        margin: 17px -62px 0px 0px;
    }

    nav ul {
        background-color: #222222;
        position: fixed;
        width: 100%;
        height: 170px;
        top: 100px;
        right: -110%;
        text-align: center;
        transition: all .5s;
        line-height: 40%;
    }
    nav ul a {
        display: block;
        margin: 50px;
    }
    #check:checked ~ ul{
        right: 0;
    }
    .hero-image {
        background-position: 60%;
    }
    .hero-text {
        max-width: 400px;
        left: 30%;
    }

}

@media (max-width: 900px) {

    header {
        padding: 20px 0px 20px 0px;
       
    }
    header h1 {
       margin: 0px auto 0px auto;
    }

    header h1 img {
        width: 330px;
        margin: 0px auto 0px auto;
        display: block;
    }
    
    nav ul {
        top: 86px;
    }

    .checkbtn {
        margin: -55px -72px 0px 0px;
        padding: 10px;
    }

    .hero-image {
        background-image: url("images/Clicker\ Hero\ media.png");
        background-position: 50%;
    }
    
    .hero-text {
        font-size: 25px;
        max-width: fit-content;
        top: 10%;
        left: 50%;
        text-align: center;
    }
    
     /*What I do tablet*/

    .WhatIDo {
        max-width: 700px;
    }
    .WhatIDorow {
        flex-direction: column;
    }
    .WhatIDoimg {
        padding: 0px 30px 0px 30px;
        margin-bottom: 25px;
    }

    /*What I do tablet end*/
    
    /*Programs tablet*/

    .programs {
        max-width: 700px;
        
    }
    .programsrow {
        margin: 0px 30px 10px 30px;
    }
    .programsrow2 {
        flex-direction: column;
    }
    
    .programimg {
        padding: 0px 30px 0px 30px;
        margin-bottom: 25px;
    }

    /*Programs tablet end*/
    
    /*Education tablet*/

    .education {
        max-width: 700px;
    }

    /*Education tablet end*/
    
    /*Image gallery tablet*/

    .maingallery1, .maingallery2 {
        max-width: 700px;
    }

    .mySlides1, .mySlides2 {
        max-width: 85%;
    }
    
    /*Image gallery tablet end*/

    /*About me tablet*/

    .bio {
        max-width: 700px;
        margin: 200px auto 200px auto;
    }

    .imagedesktop {
        display: flex;
    }

    .bio img {
        max-width: 80%;
        float: none;
        margin: 0px auto 0px auto;
        padding: 40px 40px 0px 40px;
    }
    
    .bioparagraphs {
        padding: 30px 30px 0px 30px;
    }

    .contact {
        padding: 30px 0px 40px 0px;
    }

    /*About me tablet*/
    
}

@media (max-width: 480px) {
    
    header h1 {
        margin: 0px auto 0px auto;
        text-align: center;
    }
    header h1 img {
        width: 300px;
        margin: 0px auto 0px 30px;
    }
   
    nav ul {
        top: 80px;
    }

    .hero-text {
        font-size: 20px;
    }
    .PAD {
        padding: 0px;
    }

    .imagedesktop {
        display: none;
    }

    .imagemobile {
        display: block;
    }

    .sitedesktop {
        display: none;
    }
    .sitemobile {
        display: block;
    }
    
    /*What I Do mobile*/

    .WhatIDo {
        max-width: 350px;
    }

    /*What I Do mobile end*/
    
    /*Programs mobile*/

    .programs {
        max-width: 350px;
    }
    .programsrow {
        flex-direction: column;
        height: auto;
        margin: 0px auto 10px auto;
    }
    .programsrow2 {
        width: auto;
    }
    .programimg {
        padding: 0px 30px 0px 30px;
        margin-top: 0px;
    }
  
    /*Programs mobile end*/
    
    /*Education mobile*/

    .education {
        max-width: 350px;
    }
    /*Education mobile end*/

    /*Image gallery mobile*/
   
    .maingallery1, .maingallery2 {
        max-width: 350px;
    }
    .maingallery1 {
        margin-bottom: 70px;
    }
    .maingallery1 img {
        padding: 0px 0px 10px 0px;
    }

    .maingallery2 img {
        padding: 0px 0px 10px 0px;
    }
    
    .mySlides1 {
        margin: 0px 0px 0px -4px;
    }
    
    /*Image gallery mobile end*/

    /*About me mobile*/

    .bio {
        max-width: 350px;
        height: auto;
        padding-bottom: 0px;
        margin: 100px auto 100px auto;
    }
    .bio img {
       padding: 40px 30px 0px 25px;
       margin: 50px 0px 0px 0px;
       max-width: 100%;
      
    }
    .bio p {
        padding: 0px 0px 0px 0px;
    }
    .contact {
       padding-bottom: 30px;
    }

    /*About me mobile end*/

    /*Footer*/

    footer p {
        padding: 0px 10px 0px 10px;
    }

    /*Footer end*/

}

@media (max-width: 400px) {

    header h1 img {
        width: 200px;
        margin: 0px auto 0px 20px;
    }

    .checkbtn {
        margin: -43px -85px 0px 0px;
    }
    nav ul {
        top: 61px;
        right: -120%;
    }
    .hero-text {
        font-size: 17px;
    }

    .h1 {
        max-width: 150px;
    }
    
    /*What I Do smallest*/

    .WhatIDo {
        max-width: 100%;
    }
    
    /*What I Do smallest end*/
    
    /*Programs smallest*/

    .programs {
        max-width: 100%;
    }
    .programimg {
        padding: 0px 20px 0px 20px;
    }

    /*Programs smallest end*/
    
    /*Education smallest*/

    .education {
        max-width: 100%;
    }
    
    /*Education smallest end*/
    
    /*Image Gallery smallest*/

    .maingallery1, .maingallery2 {
        max-width: 100%;
    }
    .mySlides1, .mySlides2 {
        margin: 0px auto 0px auto;
        max-width: 78.5%;
    }

    /*Image Gallery smallest end*/

    /*About me smallest*/

    .bio {
        max-width: 100%;
    }
    .imagemobile {
        display: flex;
    }
    .bio img {
        max-width: 78.5%;
        margin: 0px auto 0px auto;
        padding: 40px 30px 0px 30px;
    }

    /*About me smallest end*/

}

@media (max-height: 800px) {

    .hero-image {
        height: 70vh;
    }
}

@media (max-height: 415px) {

    .hero-image {
        background-image: url("images/Clicker\ Hero.png");
    }
    .hero-text {
        font-size: 20px;
        top: 45%;
        left: 30%;
        max-width: 300px;
        
    }
}

@media (max-height: 400px) {

    header {
        height: 50px;
    }
    header h1 img {
        width: 300px;
    }
    nav ul {
        top: 74px;
    }
    .bio {
        margin: 100px 0px 100px 0px;
    }
   
}

/*Media Queries end*/
